{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %} | Calories Tracker App</title>
    <link rel="stylesheet" href="{% static 'tailwind-all.min.css' %}" />
  </head>
  <body>
    <nav class="bg-blue-700 text-white sm:flex justify-between p-2 ">
      <h1 class="font-bold text-2xl md:text-3xl text-center" style="vertical-align: middle">
        Nutrient and Calories Tracker
      </h1>
      <a href="{% url 'logout' %}"> <h1 class="font-bold text-2xl md:text-3xl text-center" style="vertical-align: middle">
        
        {% if request.user.is_authenticated %}
        Welcome, {{request.user}}
        {% endif %}
      
      </h1></a>
    </nav>



    <div>
      {% if messages %}
        
        {% for message in messages %}
       
        <p id="msg" class="py-8 mt-5 font-semibold text-2xl text-white text-center
        
        {% if message.tags == 'warning' %}
        bg-yellow-400 
        {% elif message.tags == 'success' %}
        bg-green-500
        {% elif message.tags == 'error'%}
        bg-red-500
        {% endif %}
        
        ">{{message}}</p>
        {% endfor %}
          
      {% endif %}
     
    </div>


    {% block body %}
    
    

    {% endblock body %}

    <script src="{% static 'Chart.js' %}"></script>

    <script>

      var doc = document.querySelectorAll('.table-th')
      var tr_with_actual_data = document.querySelectorAll('.dynamic-meal-data')
      var total_n = document.querySelectorAll('.total_nutr')
      var nutrient_titles = []
      var categoryCtx = document.getElementById('dataOfCategoryExpenses').getContext('2d')
      var expensesCtx = document.getElementById('dataOfDailyExpense').getContext('2d')
      var datas = document.getElementById('categoriesFromView').innerHTML

      var carbs = 0, protein = 0, fats= 0, cal = 0, mg= 0, na= 0, chol = 0

      var sum_all = 0

      if(total_n){
        carbs = total_n[0].innerHTML
        protein = total_n[1].innerHTML
        fats = total_n[2].innerHTML
        cal = total_n[3].innerHTML
        mg = total_n[4].innerHTML
        na = total_n[5].innerHTML
        chol = total_n[6].innerHTML
        
      }
      sum_all = Number(carbs) + Number(protein) + Number(fats) + Number(cal) + Number(mg) + Number(na) + Number(chol)

      var list_of_items = [(carbs/ sum_all) * 100, (protein/ sum_all) * 100, (fats/ sum_all) * 100, (cal/ sum_all) * 100, (mg/ sum_all) * 100, 
      (na/ sum_all) * 100, (chol/ sum_all) * 100]

      var all_calories_by_date = []
      var all_calories_by_calorie_num = []
      

      for (const iter of doc) {
        nutrient_titles.push(iter.innerHTML)
      }
      

      fetch('/?readyToFetch=true').then(e => e.json()).then(data => {
        for (const obj of data.alltimedata) {
            all_calories_by_date.push(obj.date)
            all_calories_by_calorie_num.push(obj.calorie_quantity)
        }


        
      var myChartx = new Chart(expensesCtx, {
        type: 'line',
        data: {  labels: all_calories_by_date,
          datasets: [ {
          label : 'All time Calories taken',
          data: all_calories_by_calorie_num,  
          
          backgroundColor: ['rgba(28, 80, 201, 0.4)', 'rgba(242, 48, 92, 0.4)'],

          borderWidth: 1  } ]
        }
      })

      
      })


      var myChart = new Chart(categoryCtx, {
        type: 'pie',
        data: {  labels: nutrient_titles,
          datasets: [ {
          label : 'Today\'s nutritional data',
          data: list_of_items,  backgroundColor: ['rgba(40, 90, 120, 0.6)', 'rgba(120, 90, 200, 0.6)', 'rgba(202, 80, 109, 0.6)', 'rgba(40, 40, 100, 0.6)',
                                  'rgba(220, 30, 65, 0.6)', 'rgba(80, 80, 200, 0.6)', 'rgba(0, 90, 160, 0.6)'],

          borderWidth: 1  } ]
        }
      })

     
      


      // Popup message box for displaying django messages.
      var messagebox = document.getElementById('msg')
      if (messagebox.style.display != 'none'){
        setTimeout(()=>{
          messagebox.style.display= 'none';
        }, 3000)
      }


    </script>
  </body>
</html>
